.container {
	@include flex($align: center, $gap: 40px);
	list-style-type: none;
}

.link {
	all: unset;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	color: var(--bold-text);

	@include pseudo(after) {
		right: 0;
		bottom: -4px;
		width: 0;
		height: 1px;
		background-color: var(--bold-text);
		transition: width 0.3s ease-in-out;
	}
;

	&:hover, &.active {
		color: var(--bold-text);

		&:after {
			width: 100%;
			transition: width 0.3s ease-in-out;
		}
	}
}
